
$ClearTwoColorOne: #8AC9A0;
$ClearOneColorOne: #59AA75;
$mainColorOne: #348D52;
$darkOneColorOne: #1C753A;
$DarkTwoColorOne: #065521;

$ClearTwoColorTwo: #FFBCB0;
$ClearOneColorTwo: #E98B7A;
$mainColorTwo: #C15A47;
$DarkOneColorTwo: #A03926;
$DarkTwoColorTwo: #741908;

$greyLight: #474C55;
$greyMain: #3A3C3E;
$greyDark: #1C1D20;

