.tag-cloud {
  padding: 4px 14px;
  margin: 2px 5px;
  display: block;
  float: left;
  border-radius: 38px;
  color: white;
  text-decoration: none; }

.tag-cloud:hover {
  background: #1C1D20 !important;
  border: 1px solid #1C1D20 !important;
  color: #348D52 !important; }
